/* Start Header area style
============================================================================================ */

.sticky-wrapper {
    position: absolute;
    width: 100%;
    &.is-sticky {
        .header-area {
            background: $body-color;
            .navbar {
                .navbar-nav {
                    .nav-item {
                        a {
                            line-height: 80px;
                        }
                    }
                }
            }
        }
    }
}

.header-area {
    position: absolute;
    z-index: 999;
    @include transition();
    background: transparent;
    width: 100%;
    padding: 0;
    top: 0;
    border-bottom: 1px solid #ffffff1a;
    .navbar-brand {
        margin-bottom: 0;
        img {
            @include transition();
        }
    }
    &.active {
        box-shadow: 0 5px 10px #dddddd1a;
    }
    .navbar {
        background: transparent;
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        .navbar-brand {
            display: block;
            @include transition();
        }
        .navbar-nav {
            .nav-item {
                margin-right: 50px;
                a {
                    font-size: 20px;
                    color: #fff;
                    padding: 0px;
                    font-weight: 700;
                    line-height: 100px;
                    @include transition();
                    border-bottom: 3px solid transparent;
                }
            }
            .nav-item:hover>a, .nav-item.active a {
                color: $primary-color;
                border-color: $primary-color;
            }
        }
    }
}